{% extends "users/layout.html" %}

{% block body %}
    <!-- If there is a message such as invalid credential, display it -->
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <!-- Create a form. On submitting the form, go to the login url using POST request method -->
    <form action="{% url 'login' %}" method="post"> 
        {% csrf_token %}
        <input type="text", name="username", placeholder="Username">
        <input type="password", name="password", placeholder="Password">
        <input type="submit", value="Login">
    </form>
{% endblock %}
